/* reset */
body, ul, li, p {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }
img{border:0;vertical-align: middle;}
img[src=""]{
opacity: 0;
filter: Alpha(opacity=0);
}

input {
  border: 0;
  outline: none;}

i {
  list-style: normal; }

input::-webkit-search-cancel-button {
  display: none; }

input[type=search]::-ms-clear {
  display: none; }

.clearfix {
  clear: both; }

/* head  start*/
#head {
  background-color: #303A40;
  height: 50px; }
  #head .contain {
    width: 976px;
    height: 50px;
    margin: 0 auto; }
    #head .contain .headright {
      float: right;
      font-size: 12px;
      line-height: 50px;
      position: relative; }
      #head .contain .headright a {
        color: #999;
        padding: 0 8px; }
        #head .contain .headright a:hover {
          color: #fff; }
      #head .contain .headright .line {
        display: inline-block;
        height: 18px;
        width: 0;
        border-left: 1px dashed #999;
        vertical-align: middle;
        margin: 0 6px; }
      #head .contain .headright span i {
        display: inline-block;
        width: 13px;
        height: 16px;
        margin-left: 11px;
        background: url(../image/icons.png) no-repeat -291px 0;
        vertical-align: middle; }
      #head .contain .headright span a {
        padding: 0; }
      #head .contain .headright .together {
        float: right;
        color: #fff; }
        #head .contain .headright .together:hover .head-drop {
          display: block; }
        #head .contain .headright .together:hover i {
          background-position-x: -275px; }
        #head .contain .headright .together:hover a {
          color: #fff; }
      #head .contain .headright .head-drop {
        position: absolute;
        top: 46px;
        right: -142px;
        width: 280px;
        height: 181px;
        border: 1px solid #8A9499;
        background-color: #fff;
        display: none; }
        #head .contain .headright .head-drop:before {
          position: absolute;
          top: -28px;
          left: 64px;
          content: '';
          border: 14px solid transparent;
          border-bottom-color: #fff;
          width: 0;
          height: 0; }
        #head .contain .headright .head-drop h3 {
          height: 50px;
          border-bottom: 1px solid #8A9499;
          font-size: 18px;
          color: #ccc;
          text-align: center;
          margin: 0;
          padding-left: 14px; }
        #head .contain .headright .head-drop .drop_bot img {
          margin: 20px  24px;
          float: left; }
        #head .contain .headright .head-drop .drop_bot > span {
          margin-top: 8px; }
          #head .contain .headright .head-drop .drop_bot > span span {
            display: inline-block;
            width: 116px;
            height: 33px;
            line-height: 33px;
            background-color: #3D9CCC;
            margin-top: 10px;
            border-radius: 6px;
            text-align: center; }
            #head .contain .headright .head-drop .drop_bot > span span i {
              background-position-x: -275px;
              margin: 0; }
            #head .contain .headright .head-drop .drop_bot > span span a {
              color: #fff; }
          #head .contain .headright .head-drop .drop_bot > span .ios {
            margin-top: 24px; }

/* head  end*/
/*content start*/
#content {
  background: url("../image/bg.jpg") no-repeat;
  padding-top: 68px; }
  #content .contain {
    width: 976px;
    height: 656px;
    margin: 0 auto; }
    #content .contain .cont_left {
      float: left;
      width: 578px; }
      #content .contain .cont_left .search {
        width: 596px;
        height: 46px;
        border: 1px solid #FF9500;
        margin-bottom: 10px; }
        #content .contain .cont_left .search input[type='search'] {
          padding: 17px 20px 13px 20px;
          width: 462px;
          height: 46px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          float: left;
          font-size: 16px; }
        #content .contain .cont_left .search span {
          display: inline-block;
          width: 134px;
          height: 46px;
          line-height: 46px;
          text-align: center;
          background-color: #FF9500;
          color: #fff;
          cursor: pointer; }
          #content .contain .cont_left .search span:hover {
            background-color: #cc7e10; }
      #content .contain .cont_left .nav {
        float: left;
        padding-right: 7px; }
        #content .contain .cont_left .nav li {
          width: 92px;
          height: 66px;
          color: #fff;
          line-height: 66px;
          text-align: center;
          cursor: pointer;
          background: rgba(198, 198, 198, 0.3);
          font-size: 16px; }
          #content .contain .cont_left .nav li:hover {
            background-color: rgba(132, 132, 132, 0.3); }
      #content .contain .cont_left .show {
        width: 708px; }
        #content .contain .cont_left .show li {
          float: left;
          background-color: #FFF;
          margin: 0 6px 6px 0; }
        #content .contain .cont_left .show img {
          display: block;
          width: 120px;
          height: 61px; }
        #content .contain .cont_left .show .sort2 {
          height: 106px;
          width: 162px; }
        #content .contain .cont_left .show .sort3 {
          width: 120px;
          height: 108px; }
        #content .contain .cont_left .show .sort4 {
          width: 290px;
          height: 103px; }
        #content .contain .cont_left .show .sort5 {
          height: 103px;
          width: 202px; }
    #content .contain .cont_right {
      float: left;
      width: 368px;
      height: 455px;
      margin-left: 30px;
      background-color: #fff; }
      #content .contain .cont_right .title {
        display: block;
        height: 62px;
        line-height: 62px;
        color: #FF9500;
        font-size: 18px;
        padding: 0 30px; }
      #content .contain .cont_right input {
        display: inline-block;
        width: 308px;
        height: 46px;
        border: 1px solid #CCC;
        margin: 0  30px 18px 30px;
        padding: 0 8px; }
      #content .contain .cont_right input[type='text'] {
        width: 129px; }
      #content .contain .cont_right .yzm {
        display: inline-block;
        width: 141px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: #3D9CCC;
        background: #e9f1f5;
        border: 1px #e4ecf0 solid;
        cursor: pointer; }
        #content .contain .cont_right .yzm:hover {
          background: #d5e9f2; }
      #content .contain .cont_right .regist {
        display: inline-block;
        width: 308px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        margin: 0 0 30px 30px;
        background-color: #FF9500;
        color: #fff;
        font-family: 'Microsoft YaHei';
        font-szie: 20px;
        border: 1px solid #FF9500;
        cursor: pointer; }
        #content .contain .cont_right .regist:hover {
          background-color: #cc7e10; }
      #content .contain .cont_right input[type='checkbox'] {
        width: 12px;
        height: 12px;
        border: 1px solid #ccc;
        color: #3D9CCC;
        margin-right: 5px; }
      #content .contain .cont_right i {
        color: #666;
        font-size: 12px; }
      #content .contain .cont_right .contRbot {
        text-align: center;
        margin-top: 38px; }
        #content .contain .cont_right .contRbot a {
          color: #3D9CCC; }

/*content end*/
/*foot start*/
#footer {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 10px; }

/*foot end*/

/*# sourceMappingURL=base.css.map */
